extends ../common/layout.pug 
block content
    h3.text-center Đăng nhập
    form.d-flex.flex-column.gap-3(method="POST")
        .inputGroup
            label Tài khoản
            input.form-control(name="username")
        .inputGroup
            label Mật khẩu
            input.form-control(name="password")
        .d-flex.justify-content-center.gap-3
            .button(type="submit").btn.btn-dark Đăng nhập
            a(href="/auth/register").text-decoration-none.fw-bold.mt-1 Đăng kí