extends ../common/layout.pug 
block content
    form.d-flex.flex-column.gap-3(method="POST" action="/post" enctype="multipart/form-data")
        .p-5.shadow.d-flex.flex-column.gap-3
            h3 Thông tin cơ bản
            .inputGroup
                label Loại bất động sản
                select.form-select(name="categoryid" required id="category")
                    option(value="") Chọn
            .inputGroup
                label Địa chỉ
                input.form-control(name="address" placeholder="219 Âu Dương Lân" required)
            .row
                .inputGroup.col
                    label Tỉnh, thành phố
                    select.form-select(name="provinceid" id="province" required)
                        option(value="") Chọn
                .inputGroup.col
                    label Quận, huyện
                    select.form-select(name="districtid" id="district" required)
                        option(value="") Chọn
            .row
                .inputGroup.col
                    label Phường, xã
                    select.form-select(name="wardid" id="ward" required)
                        option(value="") Chọn
                .inputGroup.col
                    label Đường, phố
                    select.form-select(name="streetid" id="street")
                        option(value="") Chọn
                .inputGroup
                    label Dự án
                    select.form-select(name="projectid" id="project")
                        option(value="") Chọn
            .inputGroup
                label Số điện thoại đăng tin
                input.form-control(name="phone" required)
        .p-5.shadow.d-flex.flex-column.gap-3
            h3 Thông tin bài viết
            .inputGroup
                label Tiêu đề
                textarea.form-control(name="title" placeholder="VD: Bán nhà riêng 50m2 chính chủ tại Quận 5" required)
            .inputGroup 
                label Mô tả
                textarea.form-control(name="description" placeholder="Nhập mô tả chung về bất động sản của bạn. Ví dụ: Khu nhà có vị trí thuận lợi, gần công viên, gần trường học ... " required)
        .p-5.shadow.d-flex.flex-column.gap-3
            h3 Thông tin bất động sản
            .inputGroup
                label Diện tích
                input.form-control(name="area" placeholder="Nhập diện tích,VD:80" type="number" required)
            .inputGroup
                label Mức giá
                input.form-control(name="price" placeholder="Nhập giá,VD:1200000" required type="number")
            .inputGroup 
                label Số phòng ngủ
                input.form-control(name="bedroom" type="number" placeholder="VD: 4")
            .inputGroup 
                label Số phòng tắm
                input.form-control(name="bathroom" type="number" placeholder="VD: 4")
            .row
                .inputGroup.col
                    label Số tầng
                    input.form-control(name="floor" type="number" placeholder="VD: 4")
                .inputGroup.col
                    label Hướng nhà
                    select.form-select(name="direction")
                        option(value="") Chọn
                        option(value='East') Đông
                        option(value='West') Tây
                        option(value='South') Nam
                        option(value='North') Bắc
                        option(value="NorthEast") Đông Bắc
                        option(value="NorthWest") Tây Bắc
                        option(value="SouthWest") Tây Nam 
                        option(value="SouthEast") Đông Nam
            .row
                .inputGroup.col
                    label Hướng ban công
                    select.form-select(name="balconyDirection")
                        option(value="") Chọn
                        option(value='East') Đông
                        option(value='West') Tây
                        option(value='South') Nam
                        option(value='North') Bắc
                        option(value="NorthEast") Đông Bắc
                        option(value="NorthWest") Tây Bắc
                        option(value="SouthWest") Tây Nam 
                        option(value="SouthEast") Đông Nam
                .inputGroup.col
                    label Diện tích mặt tiền
                    input.form-control(name="fontageArea" type="number" placeholder="VD: 22 (Đơn vị m2)")
            .inputGroup
                label Nội thất
                input.form-control(name="furniture" placeholder="Vd nội thất đầy đủ")
        .p-5.shadow.d-flex.flex-column.gap-3
            h3 Hình ảnh & Video
            .inputGroup.d-flex.flex-column.gap-3
                label Media
                input.form-control(name="medias" type="file" required multiple)
                button.btn.btn-danger.ms-auto(type="submit") Tiếp tục >
    script(src="/public/javascripts/address.js" type="text/javascript")