extends ../common/layout.pug 
block content
    .d-flex.flex-column.gap-5
        .py-5.px-3.shadow
            .d-flex.justify-content-center
                input.form-control.w-75(placeholder="VD: Vinhome Central Park")
                button.btn.btn-dark.ms-3 Tìm kiếm
        .row.row-cols-4.gap-5 
            each post in posts
                .card(style='width: 18rem;').col
                    if(post.dataValues.medias.length)
                        img.card-img-top(src=post.dataValues.medias[0].dataValues.url alt='...')
                    .card-body
                        h5.card-title= post.dataValues.title
                        p.card-text= post.dataValues.description
                        a.stretched-link(href="/post/" + post.dataValues.reid)
