extends ../common/layout.pug 
block content
    .d-flex.flex-column.gap-5
        each post in posts 
            .card.mb-3.w-100
                .row.g-0
                    .col-md-4
                        img.img-fluid.rounded-start.w-100(src="/"+post.medias[0].dataValues.url alt='...')
                    .col-md-8
                        .card-body
                            h5.card-title= post.title
                            p.card-text= post.description
                            form(method='POST')
                                input(type="hidden" value=post.reid name="postID")
                                button.btn.btn-dark Đã cho thuê
